*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #05428e;
}

main {
  width: 30%;
  height: auto;
  padding: 15px;
  margin: 50px auto;
  background-color: white;
  border-radius: 7px;
}

main h3 {
  text-align: center;
  margin: 20px 0;
}

article {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100px;
  padding: 6px;
  background-color: #e9a9f0;
  border-radius: 5px;
  margin: 10px 0;
}

article img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin-right: 10px;
}

article .info h4 {
  color: white;
}

article .info p {
  color: #055c57;
}

main button {
  width: 100%;
  margin: 20px auto 0 auto;
  padding: 7px;
  color: white;
  font-size: 20px;
  outline: none;
  border: none;
  background-color: #e9a9f0;
}

@media only screen and (max-width: 1030px) {
  main {
    width: 50%;
  }
}

@media only screen and (max-width: 645px) {
  main {
    width: 70%;
  }
}

@media only screen and (max-width: 460px) {
  main {
    width: 98%;
  }
}